App_WebReferences/samagra/eUparjan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MemberDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SamagraMemberID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberDetailsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FamilyDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SamagraFamilyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FamilyDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FamilyDetailsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MemberDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:MemberDetails" />
  </wsdl:message>
  <wsdl:message name="MemberDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:MemberDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="FamilyDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:FamilyDetails" />
  </wsdl:message>
  <wsdl:message name="FamilyDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:FamilyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MemberDetailsHttpGetIn">
    <wsdl:part name="SamagraMemberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberDetailsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="FamilyDetailsHttpGetIn">
    <wsdl:part name="SamagraFamilyID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FamilyDetailsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="MemberDetailsHttpPostIn">
    <wsdl:part name="SamagraMemberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberDetailsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="FamilyDetailsHttpPostIn">
    <wsdl:part name="SamagraFamilyID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FamilyDetailsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="eUparjanSoap">
    <wsdl:operation name="MemberDetails">
      <wsdl:input message="tns:MemberDetailsSoapIn" />
      <wsdl:output message="tns:MemberDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <wsdl:input message="tns:FamilyDetailsSoapIn" />
      <wsdl:output message="tns:FamilyDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="eUparjanHttpGet">
    <wsdl:operation name="MemberDetails">
      <wsdl:input message="tns:MemberDetailsHttpGetIn" />
      <wsdl:output message="tns:MemberDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <wsdl:input message="tns:FamilyDetailsHttpGetIn" />
      <wsdl:output message="tns:FamilyDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="eUparjanHttpPost">
    <wsdl:operation name="MemberDetails">
      <wsdl:input message="tns:MemberDetailsHttpPostIn" />
      <wsdl:output message="tns:MemberDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <wsdl:input message="tns:FamilyDetailsHttpPostIn" />
      <wsdl:output message="tns:FamilyDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eUparjanSoap" type="tns:eUparjanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberDetails">
      <soap:operation soapAction="http://tempuri.org/MemberDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <soap:operation soapAction="http://tempuri.org/FamilyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eUparjanSoap12" type="tns:eUparjanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberDetails">
      <soap12:operation soapAction="http://tempuri.org/MemberDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <soap12:operation soapAction="http://tempuri.org/FamilyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eUparjanHttpGet" type="tns:eUparjanHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MemberDetails">
      <http:operation location="/MemberDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <http:operation location="/FamilyDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eUparjanHttpPost" type="tns:eUparjanHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MemberDetails">
      <http:operation location="/MemberDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyDetails">
      <http:operation location="/FamilyDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eUparjan">
    <wsdl:port name="eUparjanSoap" binding="tns:eUparjanSoap">
      <soap:address location="http://nfsa.samagra.gov.in/public/eUparjan.asmx" />
    </wsdl:port>
    <wsdl:port name="eUparjanSoap12" binding="tns:eUparjanSoap12">
      <soap12:address location="http://nfsa.samagra.gov.in/public/eUparjan.asmx" />
    </wsdl:port>
    <wsdl:port name="eUparjanHttpGet" binding="tns:eUparjanHttpGet">
      <http:address location="http://nfsa.samagra.gov.in/public/eUparjan.asmx" />
    </wsdl:port>
    <wsdl:port name="eUparjanHttpPost" binding="tns:eUparjanHttpPost">
      <http:address location="http://nfsa.samagra.gov.in/public/eUparjan.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>